<!-- Footer -->
<div class="content has-text-centered">
  <!-- Footer Elements -->
  <div class="container">
    <p>
      <small>
          Welcome Back, <%= link_to current_user.name, admin_user_path(current_user) %>
      </small>
    </p>
  </div>
</div>
