<!-- Footer -->
<div class="content has-text-centered">
  <!-- Footer Elements -->
  <div class="container">
    <p>
      <small>
        Welcome Back, [USER]!
      </small>
    </p>

    <p>
      <small>
        <span>Disclaimer</span>
        <span class='text-white'>|</span>
        <span>About Us</span>
        <span class='text-white'>|</span>
        <span>Sign Out</span>
      </small>
    </p>
  </div>
</div>
