<div>
    <div class="field is-horizontal">
        <div class="control">
            <%= form.label "Starts at:", class: "label" %>
            <%= form.time_field :start_time, class: "input" %>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="control">
            <%= form.label "Ends at:", class: "label" %>
            <%= form.time_field :end_time, class: "input" %>
        </div>
    </div>
</div>
