# Copy/Rename this file to ".env" and edit it to set the environment variables for the application
#GOOGLE_MAPS_API_TOKEN=<GOOGLE IP KEY>
#DATABASE_URL=<URL TO CONNECT TO THE DATABSE>

# Set a rails master key
#RAILS_MASTER_KEY="bundle exec rake secret | cut -c -32"
