# Copy/Rename this file to ".env" and edit it to set the environment variables for the application
#GOOGLE_MAPS_API_TOKEN=<GOOGLE IP KEY>

# Database:
#DATABASE_URL=<URL TO CONNECT TO THE DATABSE>

# Set a key for JWT tokens
#JWT_KEY=<A GENERATED KEY>
# NOTE: To generate a new JWT KEY:
# bundle exec rake secret

# Set a rails master key
#RAILS_MASTER_KEY=<RAILS MASTER KEY>
# NOTE: to generate a new rails master key:
# > bundle exec rake secret | cut -c -32

#####
# Development specifics

# Set the default editor
#EDITOR=<DEFAULT EDITOR>

