<div class="columns">
  <div class="column">
    <div class="box">
      <div data-controller="chart" data-action="resize@window->chart#rsz" class="inner-box"></div>
    </div>
  </div>
  <div class="column">
    <div class="box relative" id="map-container">
      <div data-controller="map" class="inner-box" id="map"></div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="box">
      <p>Tile 3</p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p>Tile 4</p>
    </div>
  </div>
</div>

<style>
  .inner-box {
    min-height: 500px;
    width: 100%;
  }

#map {
  width: 100%;
  height: 500px;
  margin: 0;
  position: block;
}
  </style>