<div class="columns">
  <div class="column">
    <div class="box">
      <div data-controller="chart" data-action="resize@window->chart#rsz" id="map"></div>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p>Tile 2</p>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="box">
      <p>Tile 3</p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p>Tile 4</p>
    </div>
  </div>
</div>

<style>
  #map{
    min-height: 500px;
    width: 100%;
  }
  </style>