<!-- Main container -->
<nav class="level">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
    </div>
    <div class="level-item">
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <p class="level-item"><a class="button">Location Data</a></p>
    <p class="level-item"><a class="button">Add Facilities</a></p>
    <p class="level-item"><a class="button">Users CSV</a></p>
  </div>
</nav>




<div class="container">
  <div class="tabs is-centered">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>My Facilities</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>All Facilities</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>All Users</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Notices</span>
        </a>
      </li>

    </ul>
  </div>
</div>




<div class="container">
  <% Facility.all.limit(10).find_each do |facility| %>
    <div class="card">
      <header class="card-header">
      </header>

      <div class="card-content">
        <div class="is-pulled-right">
          <div class="field">
            <input id="switchColorDefault" type="checkbox" name="switchColorDefault" class="switch is-rtl" checked="checked">
            <label for="switchColorDefault">Pending Reviews / Live</label>
          </div>
        </div>

        <div class="content">
          <p><%= facility.name %></p>
          <p><%= facility.description %></p>

          <time datetime="<%= facility.updated_at %>">
            <%= facility.updated_at %>
          </time>
        </div>
      </div>

      <footer class="card-footer">
      </footer>
    </div>
  <% end %>
</div>

