#flash_messages {
  padding-top: 0;
  padding-bottom: 0;

  .notification {
    margin-bottom: 2px;
  }

  .notification:first-child {
    margin-top: .5rem;
  }

}

.svg-icons {
  display: inline-flex;
  // background-color: red;
  align-items: stretch;
}

.svg-icon {
  // background: #AAA;
}

.card.facility {

  .card-footer {

    .card-footer-item {
      justify-content: flex-end;
    }

  }

}

