<div class="dropdown is-hoverable is-right">
    <div class="dropdown-trigger">
        <button class="button no-border transparent" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span class="icon is-small">
                <i class="fas fa-ellipsis-v"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" role="menu">
        <div class="dropdown-content position-relative stretched-link">
            <div class="dropdown-item">
                <span class="icon is-small">
                    <i class="fas fa-info-circle"></i>
                </span>
                <%#= distribution.show_link %>
            </div>
        </div>
    </div>
</div>
