<div class="container">
  <% @facilities.each do |facility| %>
          <%= render Facilities::CardComponent.new(facility: facility) %>
  <% end %>
</div>

<hr/>
<div class="container">
  <%== pagy_bulma_combo_nav_js(@pagy) %>
</div>
