<div class="container">
    <div class="level"> 
        <div class="level-left">
            <h1 class="title">
                Alerts (<%= @pagy.count %>)
            </h1>
        </div>

        <div class="level-right">
            <%= link_to "New Alert", new_admin_alert_path, class: "button is-light level-item" %>
        </div>
    </div>

    <%= render Alerts::TableComponent.new(alerts: @alerts) %>
</div>

<hr/>
<div class="container" data-controller='pagy'>
    <%== pagy_bulma_combo_nav_js(@pagy) %>
</div>
