<div class="container">
    <div class="level"> 
        <div class="level-left">
        </div>

        <div class="level-right">
            <%= link_to "New User", new_admin_user_path, class: "button is-light level-item" %>
        </div>
    </div>

    <%= render Users::TableComponent.new(users: @users) %>
</div>

<hr/>
<div class="container" data-controller='pagy'>
    <div class="is-flex is-justify-content-center">
        <%== @pagy.input_nav_js(:bulma) %>
    </div>
</div>
