# This workflow integrates Brakeman with GitHub's Code Scanning feature
# Brakeman is a static analysis security vulnerability scanner for Ruby on Rails applications

name: Brakeman Scan

# This section configures the trigger for the workflow. Feel free to customize depending on your convention
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

jobs:
  brakeman:
    name: Brakeman Scan
    runs-on: ubuntu-latest
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    # Customize the ruby version depending on your needs
    - name: Setup Ruby 3.0.3
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.3

    - name: brakeman
      uses: reviewdog/action-brakeman@v2
      with:
        # brakeman_version: 4.8.2
        reporter: github-pr-review # Default is github-pr-check

